*.doc
venv/
.pytest_cache
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
media/

db.sqlite3

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
/htmlcov/
