{% extends "base.html" %}

<div class="container">
    {% block title %}Коллекция {{ collection.name }} {% endblock %}
    {% block header %} {{ collection.name }} {% endblock %}
    {% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:profile' user.username %}">Коллекции автора</a>
            </li>
            <li class="breadcrumb-item"><a
                    href="{% url 'web_collectors:author_collection' user.username collection.id %}">{{ collection.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
        </ol>
    </nav>

    {% include "includes/item.html" %}

    {% endblock %}
</div>
