{% extends "base.html" %}
{% block title %} Коллекция {{ collection.name }} {% endblock %}
{% block header %} {{ collection.name }}{% endblock %}
{% block content %}
    {% load thumbnail %}

    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:groups' %}">Группы коллекций</a></li>
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:group' group.slug %}">{{ group.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ collection.name }}</li>
        </ol>
    </nav>
    {% thumbnail collection.photo "350x250" crop="center" upscale=True as im %}
        <img src="/{{ collection.photo }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

    <p>{{ collection.description }}</p>
    {% if request.user == author %}
        <a href="{% url 'web_collectors:new_item' group.slug collection.id %}" class="btn btn-outline-dark btn-sm"
           role="button" aria-pressed="true">Новый
            предмет коллекции</a>
        <a href="{% url 'web_collectors:update_collection' group.slug collection.id %}"
           class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Редактировать</a>
        <a href="{% url 'web_collectors:delete_collection' group.slug collection.id %}"
           class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Удалить</a>
    {% endif %}
    <hr>
        {% for item in page %}
        <a class="p-2 text-light" href="{% url 'web_collectors:item' group.slug collection.id item.id %}">
            <div class="d-block p-2 bg-danger text-white"><strong>{{ item }}</strong>
            </div>
        </a>
    {% endfor %}
    {% if request.user != author %}
    {% include "includes/comments.html" %}
    {%  endif %}
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}
</div>
