{% extends "base.html" %}
{% block title %} Коллекция {{ collection.name }} {% endblock %}
{% block header %} {{ collection.name }}{% endblock %}
{% block content %}
{% load cache %}
{% load thumbnail %}
<a class="p-2 text-dark" href="{% url 'web_collectors:new_item' group.slug collection.name %}"><strong>Новый предмет коллекции</strong></a>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:groups' %}">Группы коллекций</a></li>
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:group' group.slug %}">{{ group.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ collection.name }}</li>
        </ol>
    </nav>
    {% thumbnail collection.photo "350x250" crop="center" upscale=True as im %}
    <img class="card-img" src="/{{ collection.photo }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

    <p>{{ collection.description }}</p>
    {% cache 500 sidebar %}
    {% include "includes/comments.html" %}
    {% for item in page %}
        <a class="p-2 text-light" href="{% url 'web_collectors:item' group.slug collection.name item.name %}"><div class="d-block p-2 bg-danger text-white"><strong>{{ item }}</strong>
        </div></a>
    {% endfor %}
    {% endcache %}
    {% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}
    {% endblock %}
</div>