{% extends "base.html" %}
{% block title %}Коллекции авторов{% endblock %}
{% block header %}Коллекции авторов{% endblock %}
{% block content %}
{% load cache %}
{% cache 10 follow_page page.number %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'web_collectors:index' %}">Все авторы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Избранные авторы</li>
    </ol>
</nav>

{% for collection in page %}
<p>{{ collection.name }}</p>
<a class="p-2 text-dark" href="{% url 'web_collectors:profile' collection.owner %}"><strong>{{ collection.owner }}</strong></a>
{% endfor %}

{% if page.has_other_pages %}
{% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endcache %}
{% endblock %}