{% extends "base.html" %}
{% block title %}Коллекции группы {{ collection.group.name }} {% endblock %}
{% block header %} {{ group.name }}{% endblock %}
{% block content %}
<a class="p-2 text-dark" href="{% url 'web_collectors:new_collection' %}"><strong>Новая коллекция</strong></a>
<p>{{ group.description }}</p>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:groups' %}">Группы коллекций</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ group.name }}</li>
        </ol>
    </nav>
    <p>{% for collection in page %}</p>
    <p> <strong><a class="p-2 text-dark" href="{% url 'web_collectors:collection' group.slug collection.id %}"><strong>{{ collection.name }}</strong></a></strong>
    <p><a class="p-1 text-dark" href="{% url 'web_collectors:delete_collection' group.slug collection.id %}"><strong>Удалить коллекцию</strong></a></p>
    <p><img src="/{{ collection.photo }}" width="250" height="150"></p>
        <p><a class="p-1 text-dark" href="{% url 'web_collectors:update_collection' group.slug collection.id %}"><strong>Редактировать коллекцию</strong></a></p>
    {# {% include "includes/post_card.html" with post=post %} #}
    {# {% if not forloop.last %} #}
    {# {% endif %} #}
    {% endfor %}
</div>
{% if page.has_other_pages %}
{% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endblock %} 