{% extends "base.html" %}
{% block title %}Группы коллекций{% endblock %}
{% block header %}Группы коллекций{% endblock %}
{% block content %}
<a class="p-2 text-dark" href="{% url 'web_collectors:new_collection' %}"><strong>Новая коллекция</strong></a>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Группы коллекций</li>
        </ol>
    </nav>
    {% for group in page %}
    <p> <strong><a class="p-2 text-dark" href="{% url 'web_collectors:group' group.slug %}"><strong>{{ group }}</strong></a></strong> </p>
    {% if not forloop.last %}
    {% endif %}
    {% endfor %}

</div>
{% if page.has_other_pages %}
{% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endblock %}
