{% extends "base.html" %}
{% block title %}Коллекции группы {{ collection.group.name }} {% endblock %}
{% block header %} {{ group.name }}{% endblock %}
{% block content %}
    {% load thumbnail %}
    {% if request.user == author %}
<a class="p-2 text-dark" href="{% url 'web_collectors:new_collection' %}"><strong>Новая коллекция</strong></a>
    {%  endif %}
<p>{{ group.description }}</p>
    <a href="{% url 'web_collectors:new_collection' %}" class="btn btn-success btn-sm"
           role="button" aria-pressed="true">Новая коллекция</a>
    <hr>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:groups' %}">Группы коллекций</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ group.name }}</li>
        </ol>
    </nav>
    <p>{% for collection in page %}</p>
        <p><strong><a class="p-2 text-dark"
                      href="{% url 'web_collectors:collection' group.slug collection.id %}"><strong>{{ collection.name }}</strong></a></strong>

        <p>{% thumbnail collection.photo "350x250" crop="center" upscale=True as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}</p>
{% include "includes/favorite.html" %}
    {% endfor %}
</div>
{% if page.has_other_pages %}
{% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endblock %} 