{% extends "base.html" %}
{% block title %}Коллекция {{ collection.name }} {% endblock %}
{% block header %} {{ collection.name }} {% endblock %}
{% block content %}
    {% load thumbnail %}
    <style>
        mark {
            background-color: lightgrey;
            color: darkred;
        }
    </style>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'web_collectors:groups' %}">Группы коллекций</a></li>
                <li class="breadcrumb-item"><a href="{% url 'web_collectors:group' group.slug %}">{{ group.name }}</a>
                </li>
                <li class="breadcrumb-item"><a
                        href="{% url 'web_collectors:collection' group.slug collection.id %}">{{ collection.name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
            </ol>
        </nav>
        <p><strong>
            <mark>{{ item.name }}</mark>
        </strong></p>
        {% if request.user == author %}
            <a href="{% url 'web_collectors:update_item' group.slug collection.id item.id %}"
               class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Редактировать</a>
            <a href="{% url 'web_collectors:delete_item' group.slug collection.id item.id %}"
               class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Удалить</a>
        {% endif %}
        <br/>{% for photo in item.photos.all %}
        {% thumbnail photo.file "500x600" crop="center" upscale=True as im %}
            <img src="/{{ photo.file }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <br/>{% endfor %}

        {{ item.description }}
    </div>
{% endblock %}
