{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.username }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load thumbnail %}

{# <a class="p-2 text-dark" href="{% url 'web_collectors:new_collection' %}"><strong>Новая коллекция</strong></a> #}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            {% include "includes/author_card.html" %}
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web_collectors:index' %}">Главная страница</a></li>
            <li class="breadcrumb-item active" aria-current="page">Коллекции автора</li>
        </ol>
    </nav>
    <div class="col-md-9">

        {% for collection in page %}
        <p><strong><a class="p-2 text-dark"
                      href="{% url 'web_collectors:author_collection' author.username collection.id %}"><strong>
            {{ collection.name }}</strong></a></strong></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}

        {% include "includes/paginator.html" %}
    </div>

</main>
{% endblock %}