{% load thumbnail %}

<div class="row g-5 py-5">
    <div class="col-6 col-lg-4">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ collection.name }}</h1>
        <p class="lead">{{ collection.description }}</p>
        {% if request.user == author %}
        <button type="button" class="btn btn-outline-dark"><a
                class="nav-link"
                href="{% url 'web_collectors:new_item' group.slug collection.id %}">Новый объект</a>
        </button>
        {% include "includes/create_collection.html" %}
        {% endif %}
    </div>
    <div class="col-6 col-lg-4">
        {% thumbnail collection.photo "350x250" crop="center" upscale=True as im %}
        <img src="{{ im.url }}" class="d-block mx-lg-auto img-fluid" alt="" width="800" height="600"
             loading="lazy">
        {% endthumbnail %}
        {% include "includes/favorite.html" %}
    </div>
    <div class="col-12 col-lg-4">
        {% include "includes/comments.html" %}
    </div>
</div>