{% load user_filters %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
function submitAsynchronously(formId) {
    let form = document.getElementById(formId);

    form.addEventListener('submit', function(event) {
        event.preventDefault()
        let data = new FormData(form);
        axios.post(form.action, data)
         .then(res => location.reload())
         .catch(errors => console.log(errors))
    })
}
</script>

{% if user.is_authenticated and request.user != author %}

<button type="button" class="btn btn-success" data-toggle="modal"
        data-target="#addModal">
    Добавить комментарий
</button>
<div class="modal fade" id="addModal" tabindex="-1"
     aria-labelledby="addModal{{ comment.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModal">Добавить комментарий</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post"
                      action="{% url 'web_collectors:add_comment' collection.id %}" id="comment_form">

                    {% csrf_token %}
                    <h5 class="card-header">Добавить комментарий:</h5>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-dark">Отправить</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
<script>
    submitAsynchronously('comment_form');
</script>
{% endif %}
<p></p>
<!-- Комментарии -->
{% for comment in comments %}
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <p><a href="{% url 'web_collectors:profile' comment.author.username %}">
                <strong>{{ comment.author.username }}</strong></a></p>
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                    {{ comment.text }}
                </button>
            </h5>
            {% if request.user == comment.author %}

                {% include "includes/update_comment.html" %}

                {% include "includes/delete_comment.html" %}

            {% else %}

                {% include "includes/reply_comment.html" %}

            {% endif %}
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% for child_comment in comment.comments.all %}
                <div class="media card mb-4">
                    <div class="media-body card-body">
                        <h5 class="mt-0">
                            <a href="{% url 'web_collectors:profile' child_comment.author.username %}">
                                {{ child_comment.author.username }}
                            </a>
                        </h5>
                        <p>{{ child_comment.text }}</p>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>


</div>
{% endfor %}