{% if user.is_authenticated %}
<div class="row">
    <ul class="nav nav-tabs">
        {% if request.resolver_match.url_name == 'index' %}
        <li class="nav-item">
            <a class="nav-link " href="{% url 'web_collectors:index' %}">
                <strong><span style="color:red">Все авторы коллекций</span></strong>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            {# <a class="nav-link {% if follow %}active{% endif %}" href="{% url 'follow_index' %}"> #}
                {# Избранные авторы коллекций #}
           {# </a> #}
        </li>
    </ul>
</div>
{% endif %}
