{% load thumbnail %}
{% load user_filters %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
function submitAsynchronously(formId) {
    let form = document.getElementById(formId);

    form.addEventListener('submit', function(event) {
        event.preventDefault()
        let data = new FormData(form);
        axios.post(form.action, data)
         .then(res => location.reload())
         .catch(errors => console.log(errors))
    })
}



</script>

{% url 'web_collectors:item' group.slug collection.id item.id as the_url %}
{% url 'web_collectors:author_collection_item' author.username collection.id item.id as the_url_2 %}
{% if request.get_full_path == the_url or request.get_full_path == the_url_2 %}
<button type="button" class="btn btn-outline-secondary" data-toggle="modal"
        data-target="#itemFormModal">
    Редактировать
</button>
{% else %}
<button type="button" class="btn btn-outline-secondary" data-toggle="modal"
        data-target="#itemFormModal">
    Новый объект
</button>
{% endif %}
<div class="modal fade" id="itemFormModal" tabindex="-1"
     aria-labelledby="itemFormModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% if request.get_full_path == the_url or request.get_full_path == the_url_2 %}
                <h5 class="modal-title">Редактировать запись</h5>
                {% else %}
                <h5 class="modal-title">Новый объект</h5>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post"
                      id="item_form"
                      {% if form.instance.id %}
                      action="{% url 'web_collectors:update_item' group.slug collection.id item.id %}"
                      {% else %}
                      action="{% url 'web_collectors:new_item' group.slug collection.id %}"
                      {% endif %}>
                    {% csrf_token %}

                    <div class="card-body">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        {% for photo in item.photos.all %}
                        {% thumbnail photo.file "50x80" crop="center" upscale=True as im %}
                        <div class="card text-center" style="width: 10rem;">
                            <img class="card-img-top" src="{{ photo.file.url }}" width="{{ im.width }}"
                                 height="{{ im.height }}">
                            <div class="card-body">
                                <a href="{% url 'web_collectors:delete_photo' photo.id %}">Удалить</a>
                            </div>
                        </div>
                        {% endthumbnail %}
                        {% endfor %}
                        <p></p>
                        <button type="submit" class="btn btn-dark">Сохранить</button>

                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" name="next"
                        value="{{ request.path }}">Отмена
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    submitAsynchronously('item_form');
</script>
