{% if user.is_authenticated %}
<div class="row justify-content-evenly">
    <div class="col-4">
        {% if request.resolver_match.url_name == 'index' %}

        <a class="nav-link " href="{% url 'web_collectors:all_authors' %}">
            <strong><span style="color:gray">Все авторы коллекций</span></strong>
        </a>

    </div>
    {% endif %}
    <div class="col-4">
        <a class="nav-link {% if follow %}active{% endif %}" href="{% url 'web_collectors:follow_index' %}">
            <strong><span style="color:black">Избранные авторы коллекций</span></strong>
        </a>

    </div>
    {% endif %}
</div>